<!DOCTYPE html>
<html>
<head>
	<title>PHOTOGRAPHER</title>
	<link lang="rus">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" type="image/png" href="img/favicon.png"/>
	<link rel="stylesheet" href="./css/styles.css">
	<link rel="stylesheet" href="./css/media.css">
	<script src="./js/main.js"></script>
</head>
<body>
	<div class="header" >
		<div class="line" id="header"></div>
		<div class="header-content">
			<div class="header-left">
				<div class="logo"><a href="#"><img src="img/logo.png" alt=""></a></div>
				<a href="#">О компании</a>
			</div>
			<div class="header-right">
				<p>+7 (499) 579 85 53</p>
				<a href="#">Обратный звонок</a>
			</div>
			<div class="header-text"><p>Идейные соображения требуют <br> определения  новых <br> предложений</p>
				<a href="#">Узнать больше</a>
			</div>
		</div>
	</div>
	



	<div class="content-1">
		<div class="img"><img src="img/content-img.png" alt=""></div>
		<div class="right">
			<p>Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции требуют от нас анализа направлений прогрессивного развития. Разнообразный и богатый опыт реализация намеченных плановых заданий требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции способствует подготовки и реализации соответствующий условий активизации.</p>
			<a href="#">Подробнее</a>
		</div>
	</div>


	<div class="content-2">
		<div class="cont">
			<div class="benefits">
				<p><img src="img/dot.png" alt="">Повседневная практика показывает, что консультация</p>
				<p><img src="img/dot.png" alt="">Круглосуточная поддержка специалистов 24/5</p>
				<p><img src="img/dot.png" alt="">Реализация намеченных плановых заданий</p>
				<p><img src="img/dot.png" alt="">Разнообразный, богатый опыт и постоянный рост</p>
			</div>

			<form action="#" method="#" id="contactform" role="form">
				<p>ПОЛУЧИТЬ БЕСПЛАТНУЮ <br>КОНСУЛЬТАЦИЮ СПЕЦИАЛИСТА 
				</p>
				<div class="form-group ">
					<label for="contactname"></label>
					<input onkeyup= "this.value=this.value.replace(/[^a-zA-Zа-яА-ЯёЁ .]/, '')" type="text" class="name" id="contactname" placeholder="Имя" required>
				</div>
				<div class="form-group">
					<label for="contactphone"></label>
					<input id="contactphone" class="phone_us" placeholder="Телефон" required>
				</div>
				<div class="form-group">
					<label for="contactemail"></label>
					<input type="email" class="form-control" id="contactemail" placeholder="E-mail" required>
				</div>

				<div class="form-group">
					<button type="submit" class="btn">Получить консультацию</button>
				</div>
			</form>
		</div>
	</div>




	<div class="sponsors">
		<a href="#"><img src="img/1.png" alt=""></a>
		<a href="#"><img src="img/2.png" alt=""></a>
		<a href="#"><img src="img/3.png" alt=""></a>
		<a href="#"><img src="img/4.png" alt=""></a>
		<a href="#"><img src="img/5.png" alt=""></a>
		<a href="#"><img src="img/6.png" alt=""></a>
		<a href="#"><img src="img/7.png" alt=""></a>
		<a href="#"><img src="img/8.png" alt=""></a>
		<a href="#"><img src="img/9.png" alt=""></a>
		<a href="#"><img src="img/10.png" alt=""></a>
	</div>



	<div class="footer">
	<div class="footer-cont">
			<p>© 2017. Все права защищены</p>
			<a href=""><img src="img/logo-footer.png" alt=""></a>
		</div>
	</div>
</body>
</html>
